table{
    width:100%;
    margin:0 auto;
    font-size:14px;
}

table tbody tr td:first-child{
    width:23%;
    text-align: right;
}

table tbody tr td:last-child{
    width:60%;
    text-align: left;
}

table .tip{
    color:#737373;
}



table input{
    height:22px;
    width:255px;
    line-height:22px;
    border:1px solid #cdcdcd;
    font-size:14px;
    color:#000000;
    /*padding-left:5px;*/
    padding:2px 5px;
    border-radius:3px;
    padding:4px 5px;
}

.submit_btn{
    width:80px;
    height:34px;
    color:white;
    font-size:15px;
    letter-spacing: 1px;
    background: #009a61;
    border-color:#008151;
    outline: medium;
    cursor:pointer;
    display:block;
    text-align: center;
    line-height: 34px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}


.head-region{
    padding-top:0px;
    height:60px;
    background-color: #f3f6f5;
}

.head-region a{
    text-decoration: none;
    color: #009a61;
}

.head-region li{
    float:left;
    padding-right:10px;
    font-size:16px;
    line-height: 60px;
}

.height-60{
    height:60px;
}

.head-region ul{
    font-weight:bold;
    float:left;
    height:inherit;
}

.click-li{
    float:left;
    height:57px;
    padding-right:10px;
    font-size:16px;
    line-height: 60px;
    border-bottom: 3px solid #008460;
}

.hover-li{
    float:left;
    height:57px;
    padding-right:10px;
    font-size:16px;
    line-height: 60px;
    border-bottom: 3px solid #DDD;
}

.hover-li a{
    color:#004e31;
}
.click-li a{
    color:#444;
}
.validwidth{
    width:1000px;
    margin:0 auto;
    height:inherit;
}

.content-width{
    width:1000px;
    margin:0 auto;
}
.container{
    width:1000px;
    margin: 0 auto;
}

.page-container .paging-nav{
    display:inline-block;
    zoom: 1;
    height:20px;
    line-height: 20px;
    width:30px;
    text-decoration:none;
    margin:0px 2px;
    font-weight:bold;
    text-align:center;
    padding:4px 0px;
    border:1px solid #ddd;
    border-radius:2px;
    color:#009a61;
    cursor:pointer;
}

.page-container .paging-nav:hover{
    background-color: #f3f3f3;
}

.page-container .paging-select{
    background-color: #009161;
    color:#ffffff;
    border:1px solid #009161;
}

.page-container .paging-select:hover{
    background-color: #009161;
}

.page-container .jumpTo{
    width:30px;
    display:inline-block;
    font-size:14px;
    line-height:20px;
    color:#555;
    vertical-align: middle;
    border:1px solid #ccc;
    border-radius:2px;
}

.page-container .gopage-submit{
    width:38px;
    cursor:pointer;
    height:25px;
}

.input-content{
    display:block;
    /*width:100%;*/
    padding:5px 6px;
    font-size:14px;
    line-height:1.5;
    color:#555;
    background-color:#ffffff;
    border:1px solid #ccc;
    border-radius:2px;
    height:auto;
    margin-bottom: 5px;
}

.img-size{
    width:128px;
    height:128px;
}

.btn{
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    border:1px solid transparent;
    padding:6px 12px;
    font-size:14px;
    line-height:1.5;
    border-radius:3px;
}

.tab-head{
    border-bottom:1px solid #ddd;
    margin:10px 0;
    color:#333;
}

.tab-head span{
    width:80px;
    height:35px;
    display:inline-block;
    text-align: center;
    line-height:35px ;
    border:1px solid #ddd;
    margin-bottom:-1px;
    font-weight:bolder;
    cursor:pointer;
    background-color: #f6f6f6;
}

.tab-head .selected{
    border-bottom:1px solid white;
    background-color: white;
    cursor:default;
}

.hidden{
    display:none;
}

.row::before, .row::after{
    content:" ";
    display:table;
    clear:both;
}

#footer{
    border-top:1px solid #eee;
    padding:30px 0;
    color:#888;
    line-height:1.6;
    vertical-align:top;
    margin-top:10px;
    text-align: center;
}

#footer a{
    text-decoration: none;
}

#footer dt{
    margin-bottom:15px;
}

#footer dd{
    margin:5px 0 0 0;
}

.container{
    width:1050px;
}

.col-sm-2{
    width:16.66667%;
    float:left;
}



.toolbar-wrap{
    background-color: #323232;
    border-bottom:1px solid #666;
    position:relative;
    box-shadow:1px 1px 3px #bbb;
}
.toolbar{
    height:33px;
    line-height:30px;
    background-color: #323232;
    position: relative;
    width:1050px;
    padding-left:130px;
    margin:0 auto;
    z-index:2;
}

.head-region li,.toolbar li{
    list-style:none;
}
.toolbar .l-item{
    float:left;
    padding: 0px 3px;
}

.toolbar .r-item{
    float:right;
    list-style:none;
}
.toolbar ul{
    padding:0px;
    margin:0px;
}
.toolbar li{
    color:#f3eeee;
    font-size:15px;
    background-color: #323232;
    margin-right:20px;
    cursor: pointer;
}
.toolbar div span a{
    color:#bbc8c3;
    font-size:16px;
    background-color: #323232;
    margin-right:20px;
    cursor:pointer;
}
.toolbar-wrap .toolbar a{
    text-decoration: none;
    color:#bbc8c3;
}
.toolbar .current{
    border-bottom: 3px solid #008151;
}
.toolbar .current a{
    color:#ffffff;
}

.toolbar-wrap .mouseon a{
    color:#ffffff;
}

.downlist_a{
    text-decoration:  none;
    color: #bcc8c7;
    font-size:13px;
    padding-right:10px;
}

.hidden{
    display:none;
}

.my-msg-count{
    position:absolute;
    top:-1px;
    right:8px;
    padding:0 4px;
    background-color: #ed1c24;
    max-height: 16px;
    max-width:28px;
    height:14px;
    line-height: 14px;
    font-size: 12px;
    font-weight:normal;
    text-align:center;
    color:white;
    border-radius:14px;
}

.login-input{
    width:310px;
    height:16px;
    padding:10px 5px;
    border:1px solid #ddd;
    font-size:14px;
    color:#666;
}
.threeside_login{
    background:url('/public/images/sanfang_login.png');
    width:37px;
    height:37px;
    display:block;
    float:left;
    cursor:pointer;
}

.forgetpw::before, .forgetpw::after{
    content:"";
    display:table;
    clear:both;
}

.other-login{
    font-size:13px;
    border-top:1px solid #d9d9d9;
    margin-top:30px;
    padding:10px 0 0 10px;
}

/*
**tabs统一css start
**html example in app/views/weibo/index.html
**
**js example in public/javascripts/tabs.js
*/
.tab .tabs-head_1 ul{
    list-style:none;
    -webkit-padding-start:0px;
}

.tab .tabs-head_1 ul::after, .tabs-head_1 ul::before{
    content:" ";
    display:table;
    clear:both;
}

.tab .tabs-head_1 ul li{
    float:left;
    width:50px;
    height:32px;
    line-height: 32px;
    text-align: center;
    background-color: #eee;
    border-radius:3px;
    margin-right:7px;
}

.tab .tabs-head_1 ul li{
    cursor:pointer;
}

.tab .tabs-body_1 div{
    display:none;
}

.tab .tabs-body .current{
    display:inline;
}

/*
**tabs统一css end
**
*/


/*
**边框统一css start
*/

.list-group .list-group-item{
    background-color: #fff;
    border:1px solid #ddd;
    padding:8px 12px;
    margin-bottom:-1px;
    cursor:pointer;
    color:#555;
    width:130px;
}

.list-group .list-group-item:hover{
    background-color: #F7F7F7;
}

.list-group .current:hover{
    background-color: #008e59;
}

.list-group .current{
    background-color: #008e59;
    border-color:#008e59;
    color:#fff;
}

/*
**边框统一css end
*/


/*
**分页
*/

.page-next-abled, .page-prev-abled{
    text-decoration: none;
    background-color: #fff;
    color:#009a61;
    border:1px solid #ddd;
    display:inline-block;
    height:20px;
    padding:4px 0;
    border-radius: 2px;
    width:55px;
    text-align:center;
    line-height:20px;
}

.page-container .paging-size-select{
    background-color: #009a61;
    color:#fff;
}

.page-container .paging-size-select:hover{
    background-color: #009a61;
    color:#fff;
}
/*
**
*/