/*.user-center-display{*/
    /*display:block;*/
    /*float:left;*/
    /*font-size:16px;*/
    /*padding-right:10px;*/
/*}*/
.usercenter-head{
    width:1000px;
    margin:0 auto;
    height:inherit;
}
