#{extends 'bootstrapFix.html'/}
<div>

    <p class="text-left">左对齐的文字</p>
    <p class="text-center">居中对其的文字</p>
    <p class="text-right">右对齐的文字</p>

    <p class="muted">从世界上选出100部电影，贴上“另类”的标签</p>
    <p class="text-warning">1965年，弗里曼德将12位作家的作品编为一般短篇小说集。</p>
    <p class="text-error">低俗小说、猜火车和两杆老烟枪不是一类故事。</p>
    <p class="text-info">两杆大烟枪》确实可谓是英伦黑色幽默的极品之作了</p>
    <p class="text-success">绝！真TMD绝！不愧为《疯狂的石头》的妈妈！哈哈。</p>
    <abbr title="哈哈哈哈特色他">哈哈哈哈</abbr>
    <address>
        <strong>王皓和小雪科技有限公司</strong><br>
        山东，济南<br>
        经十西路 28723 号<br>
        159 6577 9823
    </address>

    <address>
        <strong>E-Mail</strong><br>
        <a href="mailto:#">hello@example.com</a>
    </address>

    <blockquote>
        <p>这部被封装在通心粉西部片之中的影片拥有一个讲述南北战争故事的内核，这种混搭令人非常满意。
        </p>
    </blockquote>

    <table class="table">
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </table>

    <button type="button" class="btn btn-primary">jahahha</button>
    <button type="button">jahahha</button>
</div>
<script type="text/javascript">

</script>



