#{extends '/usercenter/usercentermain.html'/}

<style type="text/css">
    .input-title{
        height:30px;
        padding:2px 6px;
        font-size:18px;
        line-height:30px;
        border-radius: 2px;
        border: 1px solid #ccc;
        background-color: white;
        color:#555;
        width:100%;
        margin-bottom: 5px;
    }
    .exp-wrap{
        width:600px;
        float:left;
    }
    .input-content{
        display:block;
        width:100%;
        padding:5px 6px;
        font-size:14px;
        line-height:1.5;
        color:#555;
        background-color:#ffffff;
        border:1px solid #ccc;
        border-radius:2px;
        height:auto;
        margin-bottom: 5px;
    }
</style>
<div class="content-width share-exp" style="padding-left:80px;">
    <div class="exp-wrap">
        <h2>经验分享</h2>

        <input class="input-title" placeholder="标题,(简单描述经历6~80个字之间)" tabindex="1" type="text">
        <textarea tabindex="2" class="input-content" rows="15"></textarea>
        <span class="submit_btn">提交</span>
    </div>

</div>

<script type="text/javascript">
    EOS.gcs("/js/usercenter/usercenter.js", function(){
        $(document).ready(function(){
            EOS.addExp.init.doInit($(".share-exp"));
        })
    })
</script>