#{extends 'main.html'/}

#{set 'moreStyles'}
    #{stylesheet 'usercenter.css'/}
    #{get 'moreStyles'/}
#{/set}


<div class="head-region">
    <div class="usercenter-head">
        <ul style="margin:0px;">
            <li class="user-artical user-center-display"><a href="">我的经验</a></li>
            <li class="user-exp-share user-center-display"><a href="">分享经验</a></li>
            <li class="user-message user-center-display"><a href="">我的消息</a></li>
            <li class="user-password-password user-center-display"><a href="">修改密码</a></li>
            <li class="user-infor-complete user-center-display"><a href="">完善资料</a></li>
        </ul>
    </div>
</div>