#{extends 'main.html'/}
<div class="head-region">
    <div class="accountset-head validwidth">
        <ul style="margin:0px;">
            <li class="user-password-password account-setting"><a href="/AccountSetting/accountSetting">账号设置</a></li>
            *{<li class="user-infor-complete account-setting"><a href="/AccountSetting/completeInfo">完善资料</a></li>}*
            <li class="user-message account-setting"><a href="/AccountSetting/myMessage">我的消息</a></li>
        </ul>
    </div>
</div>

#{doLayout /}
<script type="text/javascript">
    EOS = EOS || {};

    ((function($, window){
        var pathname = window.location.pathname;

        if(pathname.toLowerCase() == '/AccountSetting/accountSetting'.toLowerCase()){
            $('.head-region .user-password-password').addClass('click-li');
        }

        if(pathname.toLowerCase() == '/AccountSetting/completeInfo'.toLowerCase()){
            $('.head-region .user-infor-complete').addClass('click-li');
        }

        if(pathname.toLowerCase() == '/AccountSetting/myMessage'.toLowerCase()){
            $('.head-region .user-message').addClass('click-li');
        }

        $('.account-setting').not('.click-li').hover(function(){
            console.log('test');
            $(this).addClass("hover-li");
        },function(){
            $(this).removeClass("hover-li");
        })
    })(jQuery, window));
</script>
