#{extends '/accountset/accountsetmain.html'/}
#{set title:'修改密码'/}
<style>
    .head1{
        border-bottom:2px solid #ddd;
        padding:0 0 5px 5px;
        margin:15px 0 25px 0;
        font-weight:bold;
        font-size:16px;
    }

    .upload-pic{
        border-color:#aaa;
        margin-bottom:5px;
    }

    .modify-account .submit_info{
        content:" ";
        display:table;
        clear:both;
    }
</style>
<div class="content-width modify-account" style="padding-left: 80px;">
    <div style="float:left;width:20%;display:inline;margin-top:30px;">
        <div class="list-group">
            <div class="list-group-item head-pw current" tarDiv="modify-password">
                密码修改
            </div>
            <div class="list-group-item head-email" tarDiv="modify-email">
                邮箱修改
            </div>
            <div class="list-group-item head-motto" tarDiv="modify-motto">
                motto修改
            </div>
            <div class="list-group-item modify-pic-head" tarDiv="modify-pic">
                头像修改
            </div>
        </div>
    </div>

    <div style="width:78%;margin-top: 20px;float:left;display:inline;">
        <div class="modify-password target" style="display:none;">
            <div class="head1">
                <span>修改密码</span>
            </div>
            <table>
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>
                        旧密码:
                    </td>
                    <td>
                        <input class="oldPW" type="password" placeholder="请输入你的原始密码">
                    </td>
                </tr>
                <tr style="height:3px;"></tr>
                <tr>
                    <td>
                        新密码:
                    </td>
                    <td>
                        <input class="newPW" type="password" placeholder="大于或等于6个字符">
                    </td>
                </tr>
                <tr style="height:3px;"></tr>
                <tr>
                    <td>
                        确认新密码:
                    </td>
                    <td>
                        <input class="newPWConfirm"type="password" placeholder="再次输入新密码">
                    </td>
                </tr>
                <tr style="height:3px;"></tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <span class="submit_btn">提交</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modify-email target" style="display:none;">
            <div class="head1">
                修改邮箱
            </div>

            <table>
                <tbody>
                <tr>
                    <td>邮箱:</td>
                    <td>
                        <input class="email" placeholder="请输入邮箱">
                    </td>
                </tr>
                <tr style="height:3px;"></tr>
                <tr>
                    <td></td>
                    <td>
                        <span class="submit_btn">提交</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modify-motto target" style="display:none;">
            <div class="head1">
                修改motto
            </div>

            <table>
                <tbody>
                <tr>
                    <td style="vertical-align:top;">motto:</td>
                    <td>
                        <textarea class="motto" cols="45" rows="4" style="border-radius:3px;border:1px solid #ddd;font-size:18px;padding:5px 0 0 7px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span class="submit_btn">提交</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modify-pic target" style="display:none;">
            <div class="head1">
                头像修改
            </div>
            #{if flash?.error}
            <div style="margin-bottom:20px;">
            <span style="margin-left: 42%;color:red;">${flash?.error}</span>
            </div>
            #{/if}
            <form method="POST" enctype="multipart/form-data" action="@{AccountSetting.changePic}">
                <div class="upload-pic" style="text-align:center;">
                    <div >
                        <img  class="pic img-size" id="preview" alt="头像">
                        <div style="margin-top:10px;">
                            <input name="pic" type="file" id="upload" style="cursor:pointer;position:absolute;opacity:0;width:82px;height:35px;">
                            <span class="upload-pic btn">修改头像</span>
                        </div>
                    </div>
                </div>
                <div class="submit_info" style="width:52%; text-align: right;margin-top: 10px;">
                    <input type="submit" class="submit_btn" style="float:right;border:0px;">
                *{<span class="submit_btn" style="float:right;">保存</span>}*

                </div>
            </form>
        </div>

    </div>

</div>

<script type="text/javascript">
    EOS.gcs("/js/accountset/modifyaccount.js", function(){
        $(document).ready(function(){
            var tab = ${tab};
            EOS.changePW.init.doInit($(".modify-account"), tab);
        });
    });
</script>