#{extends '/accountset/accountsetmain.html'/}
#{set title:'修改密码'/}

<div class="content-width" style="padding-left: 80px;">
    <div style="width:450px;margin-top: 20px;">
    <table>
        <thead>

        </thead>
        <tbody>
        <tr>
            <td>
                旧密码:
            </td>
            <td>
                <input type="password" placeholder="请输入你的原始密码">
            </td>
        </tr>

        <tr>
            <td>
                新密码:
            </td>
            <td>
                <input type="password" placeholder="大于6个字符">
            </td>
        </tr>
        <tr>
            <td>
                确认新密码:
            </td>
            <td>
                <input type="confirmpassword" placeholder="再次输入新密码">
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <span class="submit_btn">确认</span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

<script type="text/javascript">
    var EOS = EOS || {};
    ((function($, window){
        EOS.changePW = EOS.changePW || {};
        var changePW = EOS.changePW;

        changePW.init = changePW.init || {};
        $.extend(changePW.init,{
            doInit:function(container){
                container = changePW.init.container;
            }
        })
    })(jQuery, window));
</script>