#{extends '/accountset/accountsetmain.html'/}
#{set title:'完善我的资料'/}
<style>
    .complete-info{
        margin-top:20px;
        padding-left:10px;
    }

    .myinfo-title{
        width:30%;
        display: block;
        float:left;
        text-align:right;
        font-weight:bold;
        margin-right:20px;
    }

    .upload-pic{
        border-color:#aaa;
        margin-bottom:5px;
    }

    .common-input{
        width:240px;
        height:20px;
        line-height: 20px;
        border:1px solid #ccc;
        padding:3px 4px;
        border-radius: 3px;
    }

    .submit_info::after{
        clear:both;
        display: table;
        content: " ";
    }

</style>
<div class="content-width complete-info" style="padding-left: 80px;">
    <span style="margin-left: 35%;color:red;">${flash?.error}</span>
    <form method="POST" enctype="multipart/form-data" action="@{AccountSetting.picUpload}">
    <div class="upload-pic">
        <span class="myinfo-title">修改图片</span>
        <div >
            <img  class="pic img-size" id="preview" alt="头像">
            <div style="width:40%;text-align:right;">

                <input name="pic" type="file" id="upload" style="cursor:pointer;position:absolute;opacity:0;width:82px;height:35px;">
                <span class="upload-pic btn">修改头像</span>
            </div>
        </div>
    </div>

    <div class="describe-yourself">
        <span class="myinfo-title">用一句话来描述自己</span>
        <textarea class="input-content" name="briefIntroduction" style="width:300px;height:80px;"></textarea>
    </div>
    <div class="midify-email">
        <span class="myinfo-title">修改邮箱</span>
        <input class="modify-email common-input" name="email" >
    </div>
    <div class="submit_info" style="width:40%; text-align: right;margin-top: 10px;">
        <input type="submit" class="submit_btn" style="float:right;border:0px;">
        *{<span class="submit_btn" style="float:right;">保存</span>}*

    </div>
    </form>
</div>

<script type="text/javascript">
    var EOS = EOS || {};

    ((function($, window){
        EOS.completeInfo = EOS.completeInfo || {};
        var completeInfo = EOS.completeInfo;

        completeInfo.init = completeInfo.init || {};
        $.extend(completeInfo.init, {
            doInit:function(container){
                completeInfo.init.container = container;
                completeInfo.show.doShowUserInfo();
                completeInfo.submit.doUploadPic();
            }
        })

        completeInfo.show = completeInfo.show || {};
        $.extend(completeInfo.show, {
            doShowUserInfo:function(){
                $.ajax({
                    type:'get',
                    url:'/AccountSetting/showUserInfo',
                    success:function(dataJson){
                        if(!dataJson.success){
                            EOS.util.UIAssert(dataJson.message, function(){
                                window.location.href = "/Application/index";
                            })
                        }
                        console.log("test!");
                        var container = EOS.completeInfo.init.container;
                        var picPath = dataJson.res.picPath;
                        var briefIntroduction = dataJson.res.briefIntroduction;
                        if(picPath != null)
                            container.find(".pic").attr("src",picPath);
                        else{
                            container.find(".pic").attr("src", "/public/images/userheadimages/default.png");
                        }
                        if(briefIntroduction != null)
                            container.find(".input-content").val(briefIntroduction);

                        container.find(".modify-email").val(dataJson.res.email);
                    }
                })
            }
        })

        completeInfo.submit = completeInfo.submit || {};
        $.extend(completeInfo.submit, {
            doUploadPic:function(){
                var container = completeInfo.init.container;
                container.find("#upload").change(function(){
                    var pic = document.getElementById("upload");
                    var fileName = pic.value;
                    var imgObjPreview = document.getElementById("preview");
                    if(!fileName.match(/.jpg|.gif|.png|.bmp/i)){
                        EOS.util.UIAssert("上传图片格式错误！请重新上传", function(){
                            window.location.href = "AccountSetting/completeInfo";
                        });
                    }
                    if(pic.files && pic.files[0]) {
                        if(window.navigator.userAgent.indexOf("Chrome") >= 1 || window.navigator.userAgent.indexOf("Safari") >= 1) {
                            imgObjPreview.src = window.webkitURL.createObjectURL(pic.files[0]);
                        }else{
                            imgObjPreview.src = window.URL.createObjectURL(pic.files[0]);
                        }
                    }else{
                        //待定
                    }
                })
            }
        })
    })(jQuery, window));

    $(document).ready(function(){
        EOS.completeInfo.init.doInit($(".complete-info"));
    })
</script>