#{extends '/accountset/accountsetmain.html'/}
#{set title:'我的消息'/}

<style type="text/css">
    .comment-msg, .system-msg{
        margin-top:20px;
    }
</style>
<div class="content-width my-message" style="padding-left:80px">
    <div class="msg-type-head tab-head">
        <span class="selected msg-head comment-msg-head" tarDiv="comment-msg">评论消息</span>
        <span class="msg-head system-msg-head" tarDiv="system-msg" >系统消息</span>
    </div>

    <div class="msg-body">
        <div class="comment-msg hidden msg">

        </div>

        <div class="system-msg hidden msg">

        </div>
    </div>

</div>

<script type="text/javascript">
    EOS.gcs("/js/accountset/mymessage.js", function(){
        $(document).ready(EOS.myMsg.init.doInit($(".my-message")));
    })
</script>