#{extends 'fontpage.html'/}
#{set title:'欢迎加入经验分享社区'/}

<style>

    .register-content{
        /*margin:40px 400px 0 400px;*/
        /*border:1px solid #cdcdcd;*/
        padding:30px 0px 25px 0px;
        background-color: #ffffff;
        width:600px;
        margin:auto;
    }

    .register-title{
        font-size:18px;
        width:700px;
        color:#999;
        margin:10px auto;
        border-bottom: 3px solid #019875;
    }

    body{
        background-color: #f3f3f3;
    }
</style>

<div class="register">
    *{<div class="register-title">}*
        *{<span style="">请填写注册信息</span>}*
        *{<span style="float:right;margin-right:10px;color:#7fcaff;cursor:pointer;"><a href="/Login/login" style="color:#7fcaff;display: block;text-decoration: none;">登陆</a></span>}*
        *{<span style="float:right;">已有账号，</span>}*
    *{</div>}*
    <div class="wel-register" style="display:none;color:#777;text-align:center;margin:50px 0 40px 0;font-size:20px;">
        <span>欢迎加入专业的经验分享社区</span>
    </div>
    <div class="register-content" style="display:none;">
        <div style="font-weight:bolder;text-align:center;margin-bottom:15px;">注册新帐号</div>
        <table>
            <tbody>
            <tr>
                <td>
                    <span>注册邮箱:</span>
                </td>
                <td>
                    <input class="email" type="text" placeholder="邮箱">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <span class="tip email-register" style="cursor:pointer;color:#7fcaff">验证是否已被注册</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>用户名:</span>
                </td>
                <td>
                    <input class="username" type="text" placeholder="用户名">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <span class="tip">2-16字符的汉子、字母、数字</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>密码:</span>
                </td>
                <td>
                    <input class="password" type="password" placeholder="密码">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <span class="tip">不少于6个字符</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>确认密码:</span>
                </td>
                <td>
                    <input class="confirmpassword" type="password" placeholder="确认密码">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <span class="tip">再一次输入密码</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>验证码:</span>
                </td>
                <td>
                    <input style="width:80px;" placeholder="验证码" class="captcha" >
                    <img style="height:22px;cursor:pointer;width:80px;vertical-align: middle;" class="captcha-image" src="@{Register.getCaptcha(randomID)}" randomIDValue="${randomID}">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <span class="submit_btn" style="margin-top:8px;">注册</span>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">
    EOS.gcs("/js/register/register.js", function(){
        $(document).ready(function(){
            EOS.Register.init.doInit($(".register"));
        })
    })
</script>
