#{extends 'fontpage.html'/}
        <style>

            .toolbar-wrap{
                background-color: #323232;
                border-bottom:1px solid #666;
                position:relative;
                box-shadow:1px 1px 3px #bbb;
            }
            .toolbar{
                height:33px;
                line-height:30px;
                background-color: #323232;
                position: relative;
                width:1050px;
                padding-left:130px;
                margin:0 auto;
                z-index:2;
            }

            .head-region li,.toolbar li{
                list-style:none;
            }
            .toolbar .l-item{
                float:left;
                padding: 0px 3px;
            }

            .toolbar .r-item{
                float:right;
                list-style:none;
            }
            .toolbar ul{
                padding:0px;
                margin:0px;
            }
            .toolbar li{
                color:#f3eeee;
                font-size:15px;
                background-color: #323232;
                margin-right:20px;
                cursor: pointer;
            }
            .toolbar div span a{
                color:#bbc8c3;
                font-size:16px;
                background-color: #323232;
                margin-right:20px;
                cursor:pointer;
            }
            .toolbar-wrap .toolbar a{
                text-decoration: none;
                color:#bbc8c3;
            }
            .toolbar .current{
                border-bottom: 3px solid #008151;
            }
            .toolbar .current a{
                color:#ffffff;
            }

            .toolbar-wrap .mouseon a{
                color:#ffffff;
            }

            .downlist_a{
                text-decoration:  none;
                color: #bcc8c7;
                font-size:13px;
                padding-right:10px;
            }

            .hidden{
                display:none;
            }

            .my-msg-count{
                position:absolute;
                top:-1px;
                right:8px;
                padding:0 4px;
                background-color: #ed1c24;
                max-height: 16px;
                max-width:28px;
                height:14px;
                line-height: 14px;
                font-size: 12px;
                font-weight:normal;
                text-align:center;
                color:white;
                border-radius:14px;
            }

        </style>
    <body>
    <div class="toolbar-wrap">
        <div class="toolbar">
            <ul>
                <li class="l-item  current hover-on"><a href="/Application/index">首页</a></li>
                *{<li class="l-item hover-on"><a href="javascript:void(0)">经验</a></li>}*
            </ul>
            <ul class="user-login-head" style="display:none;">
                    <li class="r-item hover-on">
                        <a href="/AccountSetting/myMessage" class="my-msg-notice">
                            <span>我的消息</span>
                        </a>

                    </li>
                    <li class="r-item hover-on">
                        <a href="javascript:void(0)">
                            <span id="login-username"></span>
                        </a>
                    </li>
                    <li class="r-item" style="margin-right:5px;">
                        <span style="cursor: auto;color:#bbc8c3;">欢迎,</span>
                    </li>
            </ul>
            <ul class="user-nologin-head">
                    <li class="r-item hover-on"><a href="/Register/registerPage">注册</a></li>
                    <li class="r-item hover-on"><a class="user-login" href="javascript:void(0)">登陆</a></li>
            </ul>
            </div>
        </div>

        <div id="test-dialog">
            <span>name:</span><input type="text">
        </div>
    </div>
    #{doLayout /}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <dl class="col-sm-2">
                    <dt>网站相关</dt>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                </dl>

                <dl class="col-sm-2">
                    <dt>网站相关</dt>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                </dl>

                <dl class="col-sm-2">
                    <dt>网站相关</dt>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                </dl>

                <dl class="col-sm-2">
                    <dt>网站相关</dt>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                </dl>

                <dl class="col-sm-2">
                    <dt>网站相关</dt>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)">关于我们</a>
                    </dd>
                </dl>
            </div>
        </div>
    </footer>
    </body>
    <script type="text/javascript">
        var EOS = EOS || {};
        ((function($, window){
            EOS.Logout = EOS.Logout || {};
            var logout = EOS.Logout;

            logout.init = logout.init || {};
            logout.init = $.extend(logout.init,{
                doInit:function(container){
                    logout.init.container = container;
                    logout.submit.submitInit();
                    logout.init.initHead();
                    logout.init.testDialog();
                },
                initHead:function(){
                    var container = logout.init.container;
                    if(EOS.userId != null) {
                        container.find(".user-login-head").show();
                        container.find(".user-nologin-head").addClass("hidden");
                        container.find(".user-login-head #login-username").html(decodeURI(EOS.userName));
                    }
                },
                testDialog:function(){
                   EOS.Logout.login = $("#test-dialog").dialog({
                        autoOpen: false,
                        height: 400,
                        width: 550,
                        modal: true
                   })
                }
            })

            logout.submit = logout.submit || {};
            logout.submit = $.extend(logout.submit, {
                submitInit:function(){
                    logout.submit.logoutAction();
                    logout.submit.tabChange();
                    logout.submit.tabFocus();
                    logout.submit.userConfig();
                    logout.submit.noticeMsgCount();
                    logout.submit.noticeMsg();
                    logout.submit.userLogin();
                },
                logoutAction:function(){
                    var container = logout.init.container;
                    $('body').find(".logout").livequery(function(){
                        $(this).click(function(){
                            $.ajax({
                                type:'POST',
                                url:'/Login/userLogout',
                                success:function(dataJson){
                                    if(dataJson.success){
                                        window.location.href = "/Application/index";
                                        return;
                                    }
                                    EOS.util.UIAssert(dataJson.message);
                                }
                            })
                        })

                    })
                },
                tabChange:function(){
                    var container = logout.init.container;
                    container.find('.l-item').click(function(){
                        container.find('.l-item').removeClass('current');
                        $(this).addClass('current');
                    })
                },
                tabFocus:function(){
                    var container = logout.init.container;
                    $('body').find('.hover-on').livequery(function(){
                        $(this).hover(function(){
                            $(this).addClass('mouseon');
                        },function(){
                            $(this).removeClass('mouseon');
                        });
                    })
                },
                userConfig:function(){
                    var container = logout.init.container;
                    container.find('#login-username').poshytip({
                        className : 'tip-yellowsimple',
                        content : '<div style="height:3px;"></div>' +
                                '<a href="/UserCenter/userCenter" class="downlist_a">用户中心</a>'+
                                '<br/>' +
                                '<div style="height:10px;"></div>' +
                                '<a href="/AccountSetting/accountSetting" class="downlist_a hover-on">帐号设置</a>' +
                                '<br/>' +
                                '<div style="height:10px;"></div>' +
                                '<a href="javascript:void(0)" class="downlist_a logout hover-on">退出</a>',

                        alignTo : 'target',
                        showTimeout:0,
                        alignX : 'inner-right',
                        alignY : 'bottom',
                        offsetX : 0,
                        offsetY : 5,
                        fade : false,
                        slide : false
                    });
                },
                noticeMsg:function(){
                    if(EOS.userId != null) {
                        setInterval(logout.submit.noticeMsgCount, 5000);
                    }
                },
                noticeMsgCount:function(){
                    if(EOS.userId != null) {
                        $.ajax({
                            type: 'get',
                            url: '/Application/findCountMsg',
                            success: function (dataJson) {
                                if (!dataJson.success) {
                                    EOS.util.UIAssert(dataJson.message);
                                    return;
                                }
                                var container = logout.init.container;
                                container.find(".my-msg-notice .my-msg-count").remove();
                                if(dataJson.res != 0)
                                    container.find(".my-msg-notice").append("<span class='my-msg-count'>" + dataJson.res + "</span>");
                            }
                        })
                    }
                },
                userLogin:function(){
                    var container = logout.init.container;
                    container.find(".user-login").unbind().click(function(){
                        console.log("login");
                        EOS.Logout.login.dialog("open");
                    })
                }
            })

        })(jQuery, window));

        $(document).ready(function(){
            EOS.Logout.init.doInit($('.toolbar'));
        })
    </script>