<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <h2>
        可编辑列表
    </h2>

    <ul contenteditable=true>
        <li>1</li>
        <li>2</li>
    </ul>

    <textarea spellcheck=true></textarea>

    <article>
        <header>
            <h1>apple</h1>
            <p>发布日期：<time pubdate="pubdate">2010/10/09</time></p>
        </header>
        <p><b>苹果</b>。植物类水果</p>
        <aside>
            <h1>test</h1>
            <h2>test2</h2>
        </aside>
        <footer>
            版权所有
        </footer>
    </article>

   <nav>
       <ul>
           <li><a href="javascript:void(0)">主页</a></li>
           <li><a href="javascript:void(0)">呵呵呵呵</a></li>
       </ul>
   </nav>

    <input name="date1" type="color">
</body>
</html>